.header {
  text-align: center;
  margin-bottom: 15px; /* Зменшено з 30px */
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #2a4365;
  margin: 0; /* Видалено margin-bottom */
}