/* src/components/Home/HomeMainContent/MainContent.module.css */
.main {
  padding: 24px;
  background: #d6ecf9;
}

.filterSection {
  margin: 0 auto 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(396px, 396px));
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}
