/* src/components/LoginForm/LoginForm.module.css */
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

.formContainer {
  width: 400px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  flex-direction: column;
}

.errorMessage {
  color: #c62b2b;
  padding: 12px;
  margin-bottom: 20px;
  background: #fccfcf;
  border: 1px solid #eea1a1;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px; /* Відступи між полями вводу */
  margin: 30px 0;
}

.buttonWrapper {
  margin-top: 22px;
  text-align: center;
}
