.button {
  width: 244px; /* Змінив max-width на width для фіксованої ширини */
  height: 51px;
  padding: 14px;
  background-color: #AEDDF8;
  color: black;
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 8px auto 0; /* Змінив margin-top на margin для центрування */
  display: block; /* Додав для коректного центрування */
}

.button:hover {
  background-color: #1EADFF;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.button:active {
  transform: translateY(0);
}

.text {
  width: 100%;
  height: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center; /* Додав для центрування тексту */
  
}