/* src/UI/Header/Header.module.css */
.header {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
  }
 
  .title {
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 0%;
    text-align: center;
    height: 33px;
    color: #3E3E3E;

  }
  
  .subtitle {
    font-weight:  500;
    opacity: 0.7;
    font-size: 14px;
    color: #929292;
    text-align: center;
 }