.footer {
  width: 100%;
  max-width: 250px;
  margin: 5px auto;/* Відступи і автоматичні бокові margins для центрування */
  text-align: center; /* Центрування тексту */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  display: flex; /* Додаємо flex */
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
}

.footer p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: inline-block; /* Дозволяє тексту займати тільки необхідну ширину */
}

.text {
  opacity: 0.7;
}

.link {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 4px;
}

.link:hover {
  color: #AEDDF8;
  text-decoration-color: #AEDDF8;
}