.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  border: 1px solid #aeddf8;

  background: #ffffff;

  font-family: "Roboto";
}

.table th,
.table td {
  border: 1px solid #aeddf8;
  padding: 4px;
  text-align: center;
}

.table th:first-child,
.table td:first-child {
  width: 400px; /* Фіксована ширина першої колонки */
  max-width: 400px;
  min-width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Для інших колонок можна задати фіксовану ширину або відсотки */
.table th:not(:first-child),
.table td:not(:first-child) {
  width: auto; /* або конкретна ширина, наприклад 150px */
  /* або можна не вказувати, щоб вони ділилися простором */
}

.table input {
  border: none;
  outline: none;
  text-align: center;

  width: 100%;

  font-weight: 300;
}

.table input::placeholder {
  font-size: 14px;
  opacity: 0.7;
}

.table input[type="number"]::-webkit-outer-spin-button,
.table input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

.table select {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  padding: 6px 10px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.table select:focus-visible {
  outline: none;
  border: 1px solid #153041;
}

.table select optgroup,
.table select option {
  text-align: start;
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 16px;
  right: 16px;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
}

.suggestionItem {
  padding: 4px 8px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #1eadff;
  color: white;
}

.typeCell {
  position: relative;
}
