/* src/UI/Footer/Footer.module.css */
.footer {
    width: 100%;
    max-width: 918px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    opacity: 0.7;
  }
  
  .link {
    color: black;
    text-decoration: underline;
    font-weight: 550;
    transition: all 0.3s ease;
    margin-left: 4px;
  }
  
  .link:hover {
    color: #AEDDF8;
    text-decoration-color: #AEDDF8;
  }