.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px; 
}

.label {
  font-weight: 700;
  font-size: 24px;
  color: #4a5568;
}

.input {
  width: 100%; 
  padding: 8px 12px;
  border: 2px solid #AEDDF8;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s;
  font-family: 'Montserat';
  font-weight: 500;
  background-color: #f8fafc; 
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
}

.input:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.2);
  background-color: white; /* Зміна фону при фокусі */
}

/* Специфічні стилі для пароля */
.input[type="password"] {
  letter-spacing: 1px; /* Краща читабельність */
}

.input:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  opacity: 0.7;
}

.error {
  border-color: #ff4d4f !important;
}

.errorMessage {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 5px;
  min-height: 16px; 
  display: block;
}
